/* 
Don't want to use sass and simply modify the stylesheet in the old css fashion? 
Just customize your theme here.
================================================== */

body {}

.navbar-brand img {
    height: 40px !important;
    width: auto !important;
    max-height: 40px !important;
}
